:root {
    /* 基础颜色 */
    --Snow: #fff;
    --Night: #000;
    --LightNight: rgb(34, 34, 34);
    --DeepGray: rgb(131, 131, 131);
    --Gray: rgb(235, 235, 235);
    --TextGray: rgb(44, 44, 44);
    --BackGround: #f7f7f7;
    --IconDeep: #ff6d77;
    --IconMiddle: #f55e69;
    --IconShallow: #f55e69;
    --Deep: #f55e69;
    --Middle: rgb(245, 94, 105);
    --Shallow: #f55e69;
    --Light: #f55e69;
    --Color:#f55e69;
    --SuperLight: rgb(251, 251, 251);
    --LinearGradient: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}


@media (prefers-color-scheme: dack) {
    body{
        --color--background:#1f2023;
        --color--foreground:#f7f7f7;
    }
}
@media (prefers-color-scheme: light) {
    body{
        --color--background:#f7f7f7;
        --color--foreground:#1f2023;
      
    }
}