@import url('../../App.css');
.headernav{
    /* width: 100%; */
    height: 60px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:0 14px;
    opacity: 0.9;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 500;
    color:var(--Snow) !important;
    position:fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.3s;
}
.headernav.active{
    background-color:rgba(255,255,255,0.9);
    backdrop-filter:blur(10px);
    color:var(--TextGray) !important;
    box-shadow:0 0 30px rgba(105, 105, 105, 0.2);
}
.headernav.active::before{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    filter: blur(100px);
}
 .headernav.active .travel-link{
    color: var(--TetGray);
    text-decoration: none;
}
.headernav .travel-link{
    color: var(--Snow);
    filter: blur(0);

}
.headernav.active .link{
        color: var(--TetGray);
        text-decoration: none;
        filter: blur(0);

}
.headernav>.title{
    cursor: pointer;
    filter: blur(0);
}
.headernav>.linkcontainer{
display: flex;
}
.headernav>.linkcontainer>li{
    display: block;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;

}
.link{
    color: var(--Snow);
    text-decoration: none;
}
.headernav>.linkcontainer>li::after,
.headernav>.title::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    transform: translateY(-10px);
    background-color:var(--Deep);
    transition: all 0.2s;
}
.headernav>.linkcontainer>li:hover::after,
.headernav>.title:hover::after{
    width: 100%;
}