
@import url('https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css');
@import url('../src/components/CustomCursor/index.css');

::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track-piece{
    background-color: rgb(255, 232, 237)
}
::-webkit-scrollbar-thumb{
    height: 10px;
    border-radius: 10px;
    background-color:var(--Middle);
}

.wholecontainer{
  font-family: 'SawarabiMincho',sans-serif;
  min-width: 550px;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
  padding-right:0px;
  z-index: 1;
  background-color: rgb(255, 232, 237) !important;
/* height: 100%; */


}
body{
    margin: 0;
    padding: 0;
    /* height:100%; */
    /* overflow:scroll; */
    overflow-x: hidden;
}