.HomePage{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 248, 250)
}
.HomePage>.topwrap{
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    position: relative;

}
.name{
    width: 100%;
    height: 80vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
}
.name .avatar{
    width: 150px;
    height: 150px;
    background-size: contain;
    border-radius: 50%;
    margin-bottom: 40px;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.name .avatar:hover{
    transform: scale(120%);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

@keyframes myfirst2
{
    from {transform: rotate(0deg) scale(120%); }
    to {transform: rotate(359deg) scale(120%);}
}
@keyframes myfirst
{
    from {transform: rotate(0deg) ; }
    to {transform: rotate(359deg);}
}

.name span{
cursor: pointer;
transition: all 0.3s;
}
.name span:hover{
    font-size: 50px;
    }


.blogcontainer{
    margin: 20px;
    margin-top: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.topbottom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 20px;
    bottom: 20px;
}
.topbottom .down{
    transform: translateY(0px);
    animation: down 2s ease-in-out alternate infinite  ;
}
@keyframes down
{
    from {transform:translateY(0px);opacity: 0.6; }
    to {transform:translateY(10px);opacity: 1;}
}
.yiyan{
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
}
#yiyan{
    text-align: center;
    color: var(--Snow);
    font-weight: 700;
    font-size: 17px;
    top: 0;
    bottom: 0;
    transition: all 0.3s;
    margin-top: 20px;
    cursor: pointer;
    
}
.yiyan::before{
    content: '「';
    color: var(--Snow);
}
.yiyan::after{
    content: '」';
    color: var(--Snow);
}
#yiyan:hover{
    /* color: var(--Light); */
    font-size: 20px;

}
.middlepage {
display: flex;
justify-content: center;
}
.right{
    top: 10px;
    position: sticky;
    height: 100%;
    margin-bottom: 60px;
}
