.HomePage{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 248, 250)
}
.HomePage>.topwrap{
    /* background-image: url('../../../source/HomePageBacground.png'); */
    /* background-color: var(--Middle); */
    background-image: url('../../../source/img/HomePageBackground.png');
    width: 100%;
    height: 100vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    position: relative;

}
.name{
    width: 100%;
    height: 80vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
}
.name .avatar{
    width: 150px;
    height: 150px;
    background-image: url('../../../source/img/avatar.png');
    background-size: contain;
    border-radius: 50%;
    margin-bottom: 40px;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.name .avatar:hover{
    transform: scale(120%);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

@keyframes myfirst2
{
    from {transform: rotate(0deg) scale(120%); }
    to {transform: rotate(359deg) scale(120%);}
}
@keyframes myfirst
{
    from {transform: rotate(0deg) ; }
    to {transform: rotate(359deg);}
}

.name span{
cursor: pointer;
transition: all 0.3s;
}
.name span:hover{
    font-size: 50px;
    }


.blogcontainer{
    margin: 20px;
    margin-top: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.topbottom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 20px;
    bottom: 20px;
}
.topbottom .down{
    transform: translateY(0px);
    animation: down 2s ease-in-out alternate infinite  ;
}
@keyframes down
{
    from {transform:translateY(0px);opacity: 0.6; }
    to {transform:translateY(10px);opacity: 1;}
}
.yiyan{
    font-size: 17px;
    margin-top: 10px;
}
#yiyan{
    text-align: center;
    color: var(--Snow);
    font-weight: 700;
    font-size: 17px;
    top: 0;
    bottom: 0;
    transition: all 0.3s;
    margin-top: 20px;
    cursor: pointer;
}
.yiyan::before{
    content: '<';
    color: var(--Light);
}
.yiyan::after{
    content: '>';
    color: var(--Light);
}
#yiyan:hover{
    /* color: var(--Light); */
    font-size: 20px;

}


.middlepage {
display: flex;
justify-content: center;
}
.right{
    top: 10px;
    position: sticky;
    height: 100%;
    margin-bottom: 60px;
}
.right .myself{
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    margin-top: 60px;
    width: 240px;
    min-width: 200px;
    height: 400px;
    color: var(--TextGray);
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);

}

.right .myself:hover{
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
        transform: scale(101%) translateY(-2px);
}

/* 右侧头像 */
.right .myself .avatar{
    width: 120px;
    height: 120px;
    min-height: 120px;
    min-width: 120px;
    background-image: url('../../../source/img/avatar.png');
    background-size: contain;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
}

.right .myself .miniarchive{
    color: var(--TextGray);
    width: 90%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.right .myself .miniarchive li{
    color: var(--TextGray);
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    user-select: none;
}
.right .myself .miniarchive li div{
    color: var(--TextGray);
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}
.right .myself .links{
    color: var(--TextGray);
    margin-top: 10px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.links li{
margin: 3px;
}

.right .myself h1{
    font-size: 30px;
    user-select: none;
}
.right .myself>span{
    margin: 8px 0px 10px 0px;
    font-size: 18px;
    user-select: none;
}
.right .myself .followme{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px;
    color: #fff;
    height: 30px;
    min-height: 30px;
    background-color: #FF6666;
    position: relative;
    transition: all 0.2s;
}
.right .myself .followme .text{
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 10;
    user-select: none;
}
.right .myself .followme::after{
    content: '';
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 0%;
    left: 0;
    top: 0;

    color: #fff;
    height: 30px;
    background-color: #6966ff;
    transition: all 0.2s ease;
}
.right .myself .followme:hover::after{
    width: 100%;
}
.icon-followme:last-of-type{
fill: #fff;
}
.links .icon:last-of-type{
    transition: all 0.2s;
}
.links .icon:last-of-type:hover{
    transform: scale(120%);
}


